/* Main style */
body, html
{
    height:100%;
}
.container
{
    margin:20px;
}

.inline
{
    display:inline-block;
}

#pdp_pairs_number
{

}

.hidden_until_file_choose
{
    display:none;
}
/**/
.link-menu {
  font-size: 2.2rem; }
  .link-menu:hover {
    color: #807d7d; }

    .points_container
    {
        /*height:100%;*/
        background-color: lightgray;
    }

    /* ---------------------------- jsPlumb style ----------------------------*/

    /** JSPLUMB ARTEFACTS **/
    ._jsPlumb_connector {
        z-index:1;
    }

    /** COMMON ELEMENT PROPERTIES **/
    .shape {
        z-index:2;
        opacity:0.7;
        filter:alpha(opacity=70);
        position:absolute;
        cursor:pointer;
        text-align:center;
        color:#333;
    }

    /** SHAPES **/

    [data-shape=Circle] {
        width: 30px; height: 30px; background: red; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px;
        left:100px;
        top:100px;
        /*line-height: 150px;*/
        /*background-image:url(circle.png);*/
    }
