/* Main style */
body, html
{
    height:100%;
}
.container
{
    margin:10px;
}
.sidebar
{
    overflow-y: scroll;
}
.inline
{
    display:inline-block;
}

#pdp_pairs_number
{

}
#points_container
{
    /*height:100%;*/
    background-color: lightgray;
    margin-top: 0;
    margin-bottom: 0;
}

.pickup
{
    background: white;
}
.delivery
{
    background: green;
}

.highlighted
{
    background: magenta;
}

.hidden_until_file_choose
{
    display:none;
}

.currentRow
{
    background-color: magenta !important;
}
/**/
.link-menu {
  font-size: 2.2rem; }
  .link-menu:hover {
    color: #807d7d; }

    /* ---------------------------- jsPlumb style ----------------------------*/

    /** JSPLUMB ARTEFACTS **/
    ._jsPlumb_connector {
        z-index:1;
    }

    /** COMMON ELEMENT PROPERTIES **/
    .shape {
        z-index:2;
        opacity:0.7;
        filter:alpha(opacity=70);
        position:absolute;
        cursor:pointer;
        text-align:center;
        /*color:#333;*/
    }

    /** SHAPES **/

    [data-shape=Circle] {
        width: 16px; height: 16px; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px;
        left:0px;
        top:0px;
        font-size: 10px;
        /*line-height: 150px;*/
        /*background-image:url(circle.png);*/
    }
