/* Main style */
body, html
{
    height:100%;
}
.container
{
    margin:10px;
}
.sidebar
{
    overflow-y: scroll;
}
.inline
{
    display:inline-block;
}

#pdp_pairs_number
{

}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

input#python_file {
    font-size:14px;
    display: inline-block;
}

.ui-accordion-content
{
    padding: 0 !important;
    background: inherit;
}

#points_container
{
    /*height:100%;*/
    background-color: lightgray;
    margin-top: 0;
    margin-bottom: 0;
}

.pickup
{
    background: white;
}
.delivery
{
    background: green;
}

[data-shape=Circle].pickup {
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}

.depot
{
    background: red;
}

[data-shape=Circle].depot {
        width: 30px; height: 30px;/*  -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; */
        left:0px;
        top:0px;
        font-size: 20px;
        /*line-height: 150px;*/
        /*background-image:url(circle.png);*/
}


.highlighted
{
    width: 30px !important; height: 30px !important; -moz-border-radius: 15px !important; -webkit-border-radius: 15px !important; border-radius: 15px !important;
    font-size: 20px !important;
    z-index:999 !important;
}

#cluster_container li
{
    padding-bottom: 10px;
    font-size: .7em;
}

#cluster_container li div
{
    padding-bottom: 5px;
}

.cluster0
{
    background: white !important;;
}
.cluster1
{
    background: green !important;;
}
.cluster2
{
    background: yellow !important;
}
.cluster3
{
    background: magenta !important;
}
.cluster4
{
    color:white;
    background: blue !important;
}
.cluster5
{
    color:white;
    background: red !important;
}
.cluster6
{
    color: white;
    background: black !important;
}
.cluster7
{
    color: white;
    background: cyan !important;
}
.cluster8
{
    color: white;
    background: orange !important;
}
.cluster9
{
    color: white;
    background: pink !important;
}
.cluster10
{
    color: white;
    background: lime !important;
}


.hidden_until_file_choose
{
    display:none;
}

.currentRow
{
    background-color: yellow !important;
}
/**/
.link-menu {
  font-size: 2.2rem; }
  .link-menu:hover {
    color: #807d7d; }

    /* ---------------------------- jsPlumb style ----------------------------*/

    /** JSPLUMB ARTEFACTS **/
    ._jsPlumb_connector {
        z-index:1;
    }

    /** COMMON ELEMENT PROPERTIES **/
    .shape {
        z-index:2;
        opacity:0.7;
        filter:alpha(opacity=70);
        position:absolute;
        cursor:pointer;
        text-align:center;
        /*color:#333;*/
    }

    /** SHAPES **/

    [data-shape=Circle] {
        width: 16px; height: 16px; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px;
        left:0px;
        top:0px;
        font-size: 10px;
        /*line-height: 150px;*/
        /*background-image:url(circle.png);*/
    }
